:root {
  --bg-color: #fff;
  --text-color: #000;
}

body {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 99%;
}
body h1 {
  font-size: calc(16px + 5vw);
  color: var(--text-color);
  display: inline-block;
}
body .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  position: absolute;
  top: 40px;
  right: 40px;
}
body .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
body .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
body input:checked + .slider {
  background-color: #2196F3;
}
body input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
body input:checked + .slider:before {
  transform: translateX(26px);
}
body .slider.round {
  border-radius: 34px;
}
body .slider.round:before {
  border-radius: 50%;
}